* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .app-container {
    display: flex;
    height: 100vh;
    overflow: hidden; 
  }
  
  .image-section {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-section {
    width: 50%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire section */
  }
  